name: Standard CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read


jobs:

  discover:
    outputs:
      hits: ${{ steps.discovery.outputs.hits }}
      nix_conf: ${{ steps.discovery.outputs.nix_conf }}

    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
    steps:
      - name: Standard Discovery
        uses: divnix/std-action/discover@main
        id: discovery
        with:
          github_pat: ${{ secrets.HUB_PAT }}

  build-packages:
    needs: discover
    if: ${{ always() }}
    strategy:
      matrix:
        target: ${{ fromJSON(needs.discover.outputs.hits).desktops.build }}
    name: ${{ matrix.target.cell }} - ${{ matrix.target.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: divnix/std-action/run@main
        with:
          extra_nix_config: |
            ${{ needs.discover.outputs.nix_conf }}
          json: ${{ toJSON(matrix.target) }}
          # optional:
          github_pat: ${{ secrets.HUB_PAT }}
  upload:
    name: Upload release binaries
    needs: build-packages
    if: ${{ always() }}
    strategy:
      matrix:
        target: ${{ fromJSON(needs.discover.outputs.hits).desktops.build }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download workflow artifacts
        uses: actions/download-artifact@v2
        with:
          name: darktop.zip
      - name: Upload release artifacts
        run: gh release upload "$GITHUB_REF_NAME" *.zip
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
