name: Darktop Standard CI

on:
  push:
    branches:
      - master
  workflow_dispatch:
    release_tag:
      description: "Release tag"
      default: false
      type: boolean
permissions:
  contents: read


jobs:

  discover:
    permissions:
      contents: read
    outputs:
      hits: ${{ steps.discovery.outputs.hits }}
      nix_conf: ${{ steps.discovery.outputs.nix_conf }}

    runs-on: ubuntu-latest
    steps:
      - name: Standard Discovery
        uses: tgunnoe/std-action/discover@main
        id: discovery
        with:
          github_pat: ${{ secrets.HUB_PAT }}

  build-packages:
    permissions:
      id-token: write
      contents: read
    needs: discover
    if: ${{ always() }}
    strategy:
      matrix:
        target: ${{ fromJSON(needs.discover.outputs.hits).desktops }}
    name: ${{ matrix.target.cell }} - ${{ matrix.target.name }}
    runs-on: ubuntu-latest
    steps:
      - uses: tgunnoe/std-action/run@main
        with:
          extra_nix_config: |
            ${{ needs.discover.outputs.nix_conf }}
          json: ${{ toJSON(matrix.target) }}
          # optional:
          github_pat: ${{ secrets.HUB_PAT }}
