name: Standard CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read


jobs:

  discover:
    outputs:
      hits: ${{ steps.discovery.outputs.hits }}
      nix_conf: ${{ steps.discovery.outputs.nix_conf }}

    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
    steps:
      - name: Standard Discovery
        uses: divnix/std-action/discover@main
        id: discovery
        with:
          github_pat: ${{ secrets.HUB_PAT }}

  build-packages: &run-job
    needs: discover
    strategy:
      matrix:
        target: ${{ fromJSON(needs.discover.outputs.hits).packages.build }}
    name: ${{ matrix.target.cell }} - ${{ matrix.target.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::123456789100:role/my-github-actions-role
          aws-region: us-east-2
      - uses: divnix/std-action/run@main
        with:
          extra_nix_config: |
            ${{ needs.discover.outputs.nix_conf }}
          json: ${{ toJSON(matrix.target) }}
          # optional:
          github_pat: ${{ secrets.HUB_PAT }}
          nix_key: ${{ secrets.NIX_SECRET_KEY }}
          nix_ssh_key: ${{ secrets.NIXBUILD_SSH }}
          cache: s3://nix?endpoint=sfo3.digitaloceanspaces.com
          builder: ssh-ng://eu.nixbuild.net
          ssh_known_hosts: "eu.nixbuild.net ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPIQCZc54poJ8vqawd8TraNryQeJnvH1eLpIDgbiqymM"
